  #clear_button{
    margin-left: 15px;
    font-weight: bold;
    color: rgb(0, 174, 255);
  }
  
  #confidence{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 7.5%;
  }
  
  #content{
    margin: 0 auto;
    padding: 2% 15%;
    padding-bottom: 0;
  }
  
  .welcome{
     text-align: center;
     position: relative;
     color: rgb(0, 32, 112);
     background-color: skyblue;
     padding-top: 1%;
     padding-bottom: 1%;
     font-weight: bold;
     font-family: 'Bookman', 'URW Bookman L', serif;
  }
  
  #team_id{
     text-align: right;
     font-size: 25px;
     padding-right: 3%;
  }
  
  #predict_button{
    margin-right: 15px;
    color: rgb(0, 255, 72);
    font-weight: bold;
  }
  
  #prediction_heading{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 7.5%;
  }
  
  #result{
    font-size: 5rem;
  }
  
  #title{
    padding: 1.5% 15%;
    margin: 0 auto;
    text-align: center;
  }
  /*
  .btn {
      font-size: 15px;
      padding: 10px;
      /* -webkit-appearance: none; 
      background: #eee;
      border: 1px solid #888;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  */
  
  .buttons_div{
    margin-bottom: 30px;
    margin-right: 100px;
	margin-top: 20px;
  }
  
  .heading{
    font-family:"American Typewriter", serif;
    font-weight: 700;
    font-size: 2rem;
    display: inline;
  }
  
  .leftside{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    /* padding-left: 10%; */
  }
  
  #frame{
    margin-right: 10%;
  }
  
  .predicted_answer{
    text-align: center;
    margin: 0 auto;
    padding: 3% 5%;
    padding-top: 0;
    /* padding-left: 10%; */
  }
  
  h1{
    text-align: center;
    color: aliceblue;
    padding: 40px 50px 40px 100px;
}
	h3{
	text-align: center;
    color: aliceblue;
    padding: 10px 50px 30px 50px;
		
	}
/*
.btn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:40px;
  margin-right:30px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #1a53ff;
  box-shadow: #1a53ff 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}
*/
.btn{
    background: #2196f3;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    overflow: hidden;
    border: 0px;
    border-radius: 60px;
    transition: 0.2s;
    color: rgb(90, 90, 90);
	margin-right:30px;
	margin-left:50px;
}
.btn:hover{
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 10px #2196f3;
    transition-delay: 0.2s;
}


  
  @media (min-width: 720px) {
    .leftside{
      padding-left: 10%;
	  color:white;
    }
  }